.auth {
    height: 100vh;
    background: #fafafa url('/images/bg.webp') no-repeat -20% center;
    color: #ffffff;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__heading {
        margin-bottom: 20px;
        font-size: 2.8rem;
        text-transform: uppercase;
    }

    &__subheading {
        line-height: 3rem;
    }

    &__forms {
        position: relative;
        width: 50%;
        height: 100%;
        padding: 20px 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__form-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 365px;
        transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__footer {
        color: $black;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
    }
}
