.auth {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    height: 100%;
    color: #ffffff;

    &--hidden {
        display: none;
    }

    @media screen and (max-width: $lg) {
        display: block;
    }

    &__greeting {
        align-self: center;
        max-width: 280px;

        @media screen and (max-width: $lg) {
            width: 100%;
            max-width: none;
            margin-bottom: 50px;
            text-align: center;
        }
    }

    &__heading {
        margin-bottom: 20px;
        font-size: 2.8rem;
        text-transform: uppercase;

        @media screen and (max-width: $sm) {
            font-size: 3.2rem;
        }
    }

    &__subheading {
        line-height: 3rem;

        @media screen and (max-width: $sm) {
            font-size: 2.6rem;
            line-height: 2.8rem;
        }
    }

    &__forms {
        position: relative;
        min-height: 330px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__form-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 365px;
        transition: opacity 0.4s ease-out, visibility 0.4s ease-out;

        &--hidden {
            opacity: 0;
            visibility: hidden;
        }

        @media screen and (max-width: $sm) {
            width: 100%;
        }
    }
}
