.footer {
    grid-column: 2 / 3;
    justify-self: center;
    color: $dark;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;

    @media screen and (max-width: $xl) {
        color: #ffffff;
    }

    @media screen and (max-width: $lg) {
        grid-column: 1 / 3;
        text-align: center;
    }
}
