.users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    color: $dark;

    @media screen and (max-width: $xl) {
        color: #ffffff;
    }

    @media screen and (max-width: $lg) {
        grid-template-columns: 1fr;
    }

    &--hidden {
        display: none;
    }

    &__wrapper {
        grid-column: 2 / 3;
        justify-self: center;
        margin-top: 50px;

        @media screen and (max-width: $lg) {
            grid-column: unset;
        }
    }

    &__heading {
        margin-bottom: 20px;
        font-size: 2.6rem;
    }

    &__notice {
        font-size: 2rem;
    }

    &__list {
        list-style-type: none;
    }

    &__list-item {
        font-size: 2rem;

        & + .users__list-item {
            margin-top: 10px;
        }
    }
}
